* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(234,234,234);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.TBD {
    font-size: larger;
    font-weight: 600;
}

section {
    margin-top: 40px;
}

#nav-bar {
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid;
}

#nav-bar li {
    color: #4d4e53;
    border-top: 1px solid black;
    list-style: none;
}

#nav-bar a {
    display:block;
    padding: 10px 30px;
    color: #4d4e53;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    transition: text-indent 0.3s ease-in-out;
}

#nav-bar a:hover {
    font-weight: 500;
    text-indent: 5px;
    
}

p {
    margin: 10px;
}



ol {
    margin-left: 30px;
}

ol li {
    margin: 10px;
}


ul li {
    margin: 10px;
}

header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: 500;
}

@media only screen and (min-width: 815px) {
    body {
        flex-direction: row;
    }
    #nav-bar{
        width: 300px;
        position: fixed;
       height: 100%;
    }
    #main-doc {
        margin: 0 20px;
        margin-left: 325px;
    }
    .image {
        width: 100%;
        margin: 10px;
    }

    }